<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon-16x16.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
</head>

<body background="{{url_for('static', filename='images/sleepingGirl.jpg')}}">
    <h2>
        <img alt="Avatar" class="avatar" src="{{url_for('static',filename='images/Avatar.png')}}"> {{name}}'s Watchlist
    </h2>
    {# 使用length 过滤器获取 movies 变量的长度 #}
    <p>{{ movies|length}} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %} {# 迭代movies变量#}
        <li>{{movie.title}}-{{movie.year}}</li>
        {% endfor %}
    </ul>
    <img alt="giphy" class="giphy" src="{{url_for('static',filename='images/giphy.gif')}}">
    <footer>
        <small>&copy; 2022 <a href = "http://127.0.0.1:5000/hello">hello</a></small>
    </footer>
</body>

</html>