{%extends 'base.html' %} {% block title %} 物料领用管理 {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block inner %}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">物料领用管理</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <button type="add" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">新增记录</button>
                        <!-- Modal -->
                        <form id="add-row-form" action="javascript:void(0);">
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">部门信息</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% for i in labels %}
                                            <div class="form-group">
                                                {% if loop.index0 not in uninsertableLabelsIndex %} {% if '数量' in i %}
                                                <input type="number" id="{{i}}-input" class="form-control" placeholder="{{i}}" required> {% else %}
                                                <input type="text" id="{{i}}-input" class="form-control" placeholder="{{i}}" required> {% endif %} {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="submit_2" id="add-row" class="btn btn-success">加入</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        {% for i in labels %}
                                        <td>{{i}}</td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in content %}
                                    <tr>
                                        {% for j in i %}
                                        <td>{{j}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
</div>

{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
    $('#add-row').on('click', function() {
        var data = {};
        var inputs = $(".form-control");
        for (var i = 0; i < inputs.length; i += 1) {
            var inputV = $(inputs[i]).val()
            data[i] = inputV;
        }

        $.ajax({
            type: "post",
            url: '/OutDepot/insert',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(msg) {
                console.log(msg);
                if (msg['msg'] == 'success') {
                    alert("插入成功!");
                    location.reload(true);
                } else {
                    alert("插入失败！请检查输入数据是否有误！");
                }
            }
        });
    });
</script>

{% endblock %}