{%extends 'base.html' %} {% block title %} 员工信息管理 {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block inner %}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">员工信息管理</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <button type="add" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">新增记录</button>
                        <!-- Modal -->
                        <form id="add-row-form" action="javascript:void(0);">
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">员工信息</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% for i in labels %}
                                            <div class="form-group">
                                                {% if loop.index0 not in uninsertableLabelsIndex %} {% if '数量' in i %}
                                                <input type="number" id="{{i}}-input" class="form-control" placeholder="{{i}}" required> {% else %}
                                                <input type="text" id="{{i}}-input" class="form-control" placeholder="{{i}}" required> {% endif %} {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" id="add-row" class="btn btn-success">加入</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        {% for i in labels %}
                                        <td><strong>{{i}}</strong></td>
                                        {% endfor %}
                                        <td><strong>修改</strong></td>
                                        <td><strong>提交</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in content %}
                                    <tr>
                                        {% for j in i %} {% if loop.index0 in uneditableLabelsIndex %}
                                        <td type='uneditable'>{{j}}</td>
                                        {% else %}
                                        <td>{{j}}</td>
                                        {% endif %}{% endfor %}
                                        <td> <button type="edit">编辑</button> </td>
                                        <td> <button type="submit">提交</button> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
    </div>
</div>

{% endblock %} {% block scripts %} {{ super() }}
<script type="text/javascript">
    $('button[type="edit"]').on('click', function() {

        var $this = $(this),
            edit_status = $this.attr('edit_status'),
            status_value = edit_status && 1 == edit_status ? 0 : 1,
            $td_arr = $this.parent().prevAll('td');
        $this.text(1 == status_value ? '完成' : '编辑').attr('edit_status', status_value);

        $.each($td_arr, function() {
            var $td = $(this);
            if ($td.attr('type') == 'uneditable') {
                return true;
            }
            if (1 == status_value) {
                $td.html('<input type="text" value="' + $td.html() + '">');

            } else if (0 == status_value) {
                $td.html($td.find('input[type=text]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $('button[type="submit"]').on('click', function() {
        var td = event.srcElement.parentElement;
        var rownum = td.parentElement.rowIndex;
        var tab = document.getElementById("example");
        var data = {};
        $(tab.rows[rownum]).children('td').each(function(j) {
            $(this).text().trim();
            data[j] = $(this).text();
        });

        $.ajax({
            type: "post",
            url: '/staff/edit',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(msg) {
                console.log(msg);
                if (msg['msg'] == 'success') {
                    alert("修改成功!");
                    location.reload(true);
                } else {
                    alert("修改失败！请检查输入数据是否有误！");
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $('#add-row').on('click', function() {
        var data = {};
        var inputs = $(".form-control");
        for (var i = 0; i < inputs.length; i += 1) {
            var inputV = $(inputs[i]).val()
            data[i] = inputV;
        }

        $.ajax({
            type: "post",
            url: '/staff/insert',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(msg) {
                console.log(msg);
                if (msg['msg'] == 'success') {
                    alert("插入成功!");
                    location.reload(true);
                } else {
                    alert("插入失败！请检查输入数据是否有误！");
                }
            }
        });
    });
</script>
{% endblock %}